@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  min-height: 100vh;
}

/*------------------------------------*/
/* CARD STYLES */
/*------------------------------------*/

.full-card {
  display: flex;
  max-width: 1000px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 8px;
}

.column-sedan {
  background-color: hsl(31, 77%, 52%);
}

.column-suv {
  background-color: hsl(184, 100%, 22%);
}

.column-luxury {
  background-color: hsl(179, 100%, 13%);
}

/*--------------------------------------*/
/* CONTENT */
/*--------------------------------------*/

img {
  padding: 40px 0 0 40px;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding: 25px 0 30px 40px;
}

p {
  font-weight: 400;
  padding: 0 80px 0 40px;
  line-height: 1.8;
  margin-bottom: 80px;
}

/*--------------------------------------*/
/* BUTTONS */
/*--------------------------------------*/

button {
  position: relative;
  left: 40px;
  padding: 15px 40px;
  margin-bottom: 40px;
  border-radius: 25px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
  font-family: "Lexend Deca", sans-serif;
}

.btn-suv {
  color: hsl(184, 100%, 22%);
  font-family: "Lexend Deca", sans-serif;
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
  font-family: "Lexend Deca", sans-serif;
}
